## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## User-specific files
*.rsuser
*.DotSettings.user
